@charset "UTF-8";


:root {

    --azul-principal: #5900FF;
    --verde-principal: #05FF00;
    --branco: #fff;
    --preto: #1A1A1A;

    --fonte-principal: 'Exo', sans-serif;

}

.corpo {
    background-color: var(--preto);
    font-family: var(--fonte-principal);
}
