@charset "UTF-8";


:root {

    --azul-principal: #5900FF;
    --azul: #5EEAD4;
    --azul-escuro: #111729;
    --verde-principal: #05FF00;
    --branco: #fff;
    --preto: #1A1A1A;
    --cinza: #b2b2b2;
    --code-dark: #afafaf58;
    --code-light: #111729;
    --fonte-principal: 'Exo', sans-serif;
    --fonte-codigo: 'Caveat', cursive;

}

.corpo {
    background-color: var(--azul-escuro);
    font-family: var(--fonte-principal);
}

.code--dark {
    padding-left: 60px;
}

.code__edit--dark {
    color: var(--code-dark);
    font-family: var(--fonte-codigo);
    font-size: 1.5rem;
    font-style: italic;
}

.code--light {
    padding: 50px 60px 30px 0;
}

.code__edit--light {
    color: var(--code-light);
    font-family: var(--fonte-codigo);
    font-size: 1.5rem;
    font-style: italic;
    text-align: end;
}

.link {
    color: var(--branco);
    text-decoration: none;
    transition: .4s;
    font-weight: 600;
}

.link:hover {
    color: var(--azul);
    transition: .4s;
}
.destaque__azul {
    color: var(--azul);
}

.destaque__branco {
    color: var(--branco);
    font-weight: 600;
}