@charset "UTF-8";

.cabecalho {

}

.cabecalho__menu {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 16px;
    margin: 0px 100px;
    justify-items: center;
}

.cabecalho__imagem {
    width: 140px;
    height: 30px;
    transition: .4s;
}

.cabecalho__imagem:hover {
    scale: 1.3;
    transition: .4s;
}

.cabecalho__link {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--branco);
    padding: 0 24px;
    cursor: pointer;
    transition: .4s;
}

.cabecalho__link:hover {
    color: var(--azul);
    transition: .4s;
}

.pointer {
    color: var(--azul);
}